img.bf_image {
margin: 14px 0 0 10px;
}

span.bf_info {
display: block;
margin: 17px 0 0 0;
}

span.center {
display: block;
margin: 50px 0 0 0;
}

.submit {
position: fixed;
}
input .input_amount {
float: right;
}

span.bf_name {
font-weight: bold;
font-size: 16px;
}

#map_wrapper {
position: relative;
padding: 1em;
box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#map_canvas {
position:relative;
height:350px;
overflow:hidden;
display:block;
}

div.bf_infowrapper {

}

span.bf_currentamount {

}

#iw_wrapper {

}

img .iw_bfimage {

}

img .iw_bffacts {

}
