<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "uk.co.headscape.butterflycounter"
version   = "0.1.0">

<!-- versionCode is optional and Android only -->

<name>Mobile Butterfly Counter</name>

<description>
Register sightings of butterflies across the UK with a mobile web application
</description>

<author>
Johannes Cox 
</author>

<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>

</widget>
