<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id        = "uk.co.headscape"
version   = "0.0.1">

<!-- versionCode is optional and Android only -->

<name>Mobile Butterfly Counter</name>

<description>
Register sightings of butterflies across the UK with a mobile web application
</description>

<author>
Johannes Cox 
</author>
<!--
<preference name="phonegap-version" value="1.8.1"/>
-->
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>

<access origin="http://code.jquery.com/jquery-1.7.1.min.js" />
<access origin="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" />
</widget>
